/* Fonts */

@import "global/fonts.scss";

/* Global */

@import "global/variables.scss";
@import "global/normalize.scss";
@import "global/mixins.scss";

// Ð¡ommon element styles
@import "global/page.scss";

// Pixel Perfect
// @import "global/pixel-perfect.scss";

/* Blocks */

//Header
@import "blocks/header/header.scss";

// index
@import "blocks/";

// Footer
@import "blocks/footer/footer.scss";

//@import "";
//@import "global/";
//@import "blocks/";

//<!DOCTYPE Liky>
